$primary-color: #a88462;
$secondary-color: #815c32;
$text-color:#3F3333;
$bg-color:#e9e0cf;
$black: black;
$white: white;


*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: $bg-color;
    font-family: 'Noto Sans TC', sans-serif;
}
    
h1{
    font-family: 'Noto Sans Kannada', sans-serif;
    color: $text-color;
}
h3{
    color:#3F3333;
}
header{
    background-color:$primary-color;
    position: relative;
}
nav{ 
    a{
        color:$text-color;
        display: inline-block;
        margin:10px;

        &:hover{
            color:white;
            background-color: $secondary-color;
            ;
            line-height: 20px;
            transition-duration: .5s;
            -webkit-transition-duration: .5s;
        }
    }
}

section{
    text-align: center;
}

.banner{
    height: calc(100vh - 100px);
    
    // overflow:hidden;
}
.bannerbox{
    
    h1{
        font-size: 5em;
    }
    
}
.bg-img{
    position: absolute;
    top:0;
    z-index: -1;

    img{
    width:100vw;
    // height: 100vh;
    }
    
}
#about{
    background-color:white;
}
#core-value{
    margin-top: -100px;
}

.value-item{
    background-image: url("../image/hero-1.jpg");
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    .opa{
        margin: 0;
        padding: 0;
        border-radius: 2px;
        background-color: rgba($color: white, $alpha: 0.8);
    }
    h3{
        margin: 10px;
        padding-top: 30px;
       
    }
    p{
        padding: 15px;
        
    }
    

}
#study{
    .student{
        img{
            width:60px;
            
        }
    }
}
footer{
    color:$white;
}